<div class="row">
    <div class="col-sm-0 col-md-1 col-lg-1"></div>
    <div class="col-sm-12 col-md-6 col-lg-6">
        <h1 class="text-center">
            proyecto arduino
        </h1>
        </div>
        <div class="col-sm-0 col-md-5 col-lg-5"></div>
        <div class="col-sm-0 col-md-1 col-lg-1"></div>
        <div class="col-sm-12 col-md-6 col-lg-6">
       <p class="text-center">
        en este proyecto trabaje con arduino, una tecnologia de robotica simple, la cual es programable con lenguaje javascript, en este proyecto hice un invernadero completamente automatizado en el cual se usaron mas de 5 tipos de sensores(de luz, lluvia, temperatura, humedad ambiente, humedad de tierra, clorofila ), este proyecto fue realizado en el cet 19 (colegio de educacion tecnica n°19).
       </p>
    </div>
    <div class="col-sm-12 col-md-5 col-lg-5">
        <img src="../../../assets/invernadero.jpg" >
    </div>
    <div class="col-sm-0 col-md-1 col-lg-1"></div>
    <div class="col-sm-12 col-md-6 col-lg-6">
        <h1 class="text-center">
            portfolio personal
        </h1>
        </div>
        <div class="col-sm-0 col-md-5 col-lg-5"></div>
        <div class="col-sm-0 col-md-1 col-lg-1"></div>
        <div class="col-sm-12 col-md-6 col-lg-6">
       <p class="text-center">
        en este proyecto trabaje con angular y el mean stack para desarrollar el portfolio en el cual estan viendo esto, me llevo unos 4 meses desde que empece hasta que termine, trabajando cada fin de semana.
        </p>
    </div>
    <div class="col-sm-12 col-md-5 col-lg-5">
        <img src="../../../assets/argentina-programa.jpg" >
    </div>
    </div>

