<app-background></app-background>



<div class="loginBox"> 
<h3>nueva experiencia</h3>
<form (ngSubmit)="onCreate()"  novalidate #f="ngForm">
    <div class="inputBox">
        <div>
        <input id="nombreUsuario" type="text" name="Username" placeholder="nombre" 
        [(ngModel)]= "nombreE" required>
        
        </div>
        <div>
        <input id="password" type="text" name="descripcioneE" placeholder="descripcion" [(ngModel)]="descripcionE" required >
        </div>
    
    </div>
    <button class= "btn btn-outline-light btn-lg px-s" type="submit">Enviar</button>
    
   
</form>


</div>