
<div class="container">
    <div class="row">
<div class="col-xs-12 col-sm-12 col-lg-12">
    <img src="../../../assets/banner.png" alt="banner" id="banner" class="img-fluid">
</div>
</div>
<br>

</div>

<div class="row" >
    <div class="col-lg-1"></div>
    <div class="col-xs-12  col-md-4 col-sm-4 col-lg-3">
        <img src="../../../assets/foto-perfil.jpeg" alt="agus" id="perfil">
    
    </div>




<div class="col-xs-6 col-md-4 col-sm-4 col-lg-4">
    <p class="h2" >{{persona.nombre}} {{persona.apellido}} </p>
        <br>
        <p class="h3">
            nacido el 27/12/2004 en buenos aires
        </p>
        <br>
        <p class="h3">
            y soy full stack developer junior 
        </p>
    </div>
    <div class="col-xs-6 col-md-4 col-sm-4 col-lg-4">
        <p class="h4">
            acerca de mi
        </p>
        <p class="h5">
           
            <br>
            soy un estudiante de secundaria tecnica electromecanica, me gustan la programacion backend y diseño grafico de las paginas web, especialmente las animaciones.
        </p>
    </div>

</div>


