
p{
    color: aliceblue;
    margin-left: 10%;
}
    h1{
        margin-left: 10%;
        color: rgb(0, 0, 0);
    }
    .text-center{
        padding-top: 25px;
    }
div{
    background-color: black;
}