

<div class="row">
    <div class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [title]="'html'"
    [titleColor]="'white'"
    [titleFontSize]="'1em'"
    [showSubtitle]="false"
    [backgroundColor]="'black'"
  [percent]="75"
  [radius]="100"
  [showUnits]="false"
  [outerStrokeWidth]="16"
  [outerStrokeGradientStopColor]="'white'"
  [outerStrokeGradient]="true"
  [innerStrokeWidth]="2"
  [outerStrokeColor]="'#81D4FA'"
  [innerStrokeColor]="'#FAFAFA'"
  [animation]="true"
  [animationDuration]="1000"
></circle-progress></div>
<div class="col-sm-4 col-md-4 col-lg-4">
<circle-progress
[outerStrokeGradientStopColor]="'white'"
[outerStrokeGradient]="true"
[title]="'css'"
[titleColor]="'white'"
[titleFontSize]="'1em'"
[showSubtitle]="false"
[backgroundColor]="'black'"
[percent]="75"
[radius]="100"
[showUnits]="false"
[outerStrokeWidth]="16"
[innerStrokeWidth]="2"
[outerStrokeColor]="'#81D4FA'"
[innerStrokeColor]="'#FAFAFA'"
[animation]="true"
[animationDuration]="1000"
></circle-progress></div>
<div class="col-sm-4 col-md-4 col-lg-4">
<circle-progress
[outerStrokeGradientStopColor]="'white'"
[outerStrokeGradient]="true"
[title]="'angular'"
[titleColor]="'white'"
[titleFontSize]="'1em'"
[showSubtitle]="false"
[backgroundColor]="'black'"
[percent]="60"
[radius]="100"
[showUnits]="false"
[outerStrokeWidth]="16"
[innerStrokeWidth]="2"
[outerStrokeColor]="'#81D4FA'"
[innerStrokeColor]="'#FAFAFA'"
[animation]="true"
[animationDuration]="1000"
></circle-progress></div>
<div class="col-sm-4 col-md-4 col-lg-4">
<circle-progress
[outerStrokeGradientStopColor]="'white'"
[outerStrokeGradient]="true"
[title]="'javascript'"
[titleColor]="'white'"
[titleFontSize]="'1em'"
[showSubtitle]="false"
[backgroundColor]="'black'"
[percent]="50"
[radius]="100"
[showUnits]="false"
[outerStrokeWidth]="16"
[innerStrokeWidth]="2"
[outerStrokeColor]="'#81D4FA'"
[innerStrokeColor]="'#FAFAFA'"
[animation]="true"
[animationDuration]="1000"
></circle-progress></div>
<div class="col-sm-4 col-md-4 col-lg-4">
<circle-progress
[outerStrokeGradientStopColor]="'white'"
[outerStrokeGradient]="true"
[title]="'base de datos'"
[titleColor]="'white'"
[titleFontSize]="'1em'"
[showSubtitle]="false"
[backgroundColor]="'black'"
[percent]="50"
[radius]="100"
[showUnits]="false"
[outerStrokeWidth]="16"
[innerStrokeWidth]="2"
[outerStrokeColor]="'#81D4FA'"
[innerStrokeColor]="'#FAFAFA'"
[animation]="true"
[animationDuration]="1000"
></circle-progress></div>
<div class="col-sm-4 col-md-4 col-lg-4">
<circle-progress
[outerStrokeGradientStopColor]="'white'"
[outerStrokeGradient]="true"
[title]="'resolucion de problemas'"
[titleColor]="'white'"
[titleFontSize]="'1em'"
[showSubtitle]="false"
[backgroundColor]="'black'"
[percent]="60"
[radius]="100"
[showUnits]="false"
[outerStrokeWidth]="16"
[innerStrokeWidth]="2"
[outerStrokeColor]="'#81D4FA'"
[innerStrokeColor]="'#FAFAFA'"
[animation]="true"
[animationDuration]="1000"
></circle-progress></div>
<div class="col-sm-4 col-md-4 col-lg-4">
<circle-progress
[outerStrokeGradientStopColor]="'white'"
[outerStrokeGradient]="true"
[title]="'aprendizaje rapido'"
[titleColor]="'white'"
[titleFontSize]="'1em'"
[showSubtitle]="false"
[backgroundColor]="'black'"
[percent]="85"
[radius]="100"
[showUnits]="false"
[outerStrokeWidth]="16"
[innerStrokeWidth]="2"
[outerStrokeColor]="'#81D4FA'"
[innerStrokeColor]="'#FAFAFA'"
[animation]="true"
[animationDuration]="1000"
></circle-progress></div>
<div class="col-sm-4 col-md-4 col-lg-4">
<circle-progress
[outerStrokeGradientStopColor]="'white'"
[outerStrokeGradient]="true"
[title]="'compañerismo'"
[titleColor]="'white'"
[titleFontSize]="'1em'"
[showSubtitle]="false"
[backgroundColor]="'black'"
[percent]="100"
[radius]="100"
[showUnits]="false"
[outerStrokeWidth]="16"
[innerStrokeWidth]="2"
[outerStrokeColor]="'#81D4FA'"
[innerStrokeColor]="'#FAFAFA'"
[animation]="true"
[animationDuration]="1000"
></circle-progress></div>
<div class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [outerStrokeGradientStopColor]="'white'"
    [outerStrokeGradient]="true"
    [title]="'gestion del tiempo'"
    [titleColor]="'white'"
    [titleFontSize]="'1em'"
    [showSubtitle]="false"
    [backgroundColor]="'black'"
    [percent]="75"
    [radius]="100"
    [showUnits]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'#81D4FA'"
    [innerStrokeColor]="'#FAFAFA'"
    [animation]="true"
    [animationDuration]="1000"
    ></circle-progress></div>
</div>